@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8em;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.btn:focus {

}

.task {
  background: #f4f4f4;
  margin: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form, .form-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.form-container label{
  margin-bottom: 0.3em;
}

.form-container input {
  padding: 10px 20px;
}

.reminder-container {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 1.5em;
}

.reminder-container label {
  flex: 1;
}

.reminder-container input {
  flex: 2;
  height: 20px;
}

footer {
  text-align: center;
}